@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.formulario-container{
  width: 600px;
  min-height: 70%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.294);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.formulario-input{
  padding: 8px;
}


.formulario-boton{
  padding: 8px 0px;
}



.main_formularios{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}


.formularios_header{
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 0px 20px;
  border-bottom: 1px solid rgb(174, 174, 174);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.formularios_main{
  height: calc(100% - 51px);
  display: flex;
  flex-direction: row;
}

.formularios_aside{
  height: 100%;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 20px 0px;
  gap: 10px;
  background-color: rgba(232, 232, 232, 0.244);

}

.formularios_content{
  height: 100%;
  width: calc(100% - 350px);
  box-sizing: border-box;
  padding: 20px;
}

.formularios_box_info{
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.formularios_box_info-data{
  box-sizing: border-box;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.formularios_box_fact{
  width: 100%;
  box-sizing: border-box;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.overlay{
  background-color: rgba(0, 0, 0, 0.221);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 600;
}

.modal{
  height: 80%;
  width: 70%;
  background-color: white;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 13px;
}


.modal_btn{
  position: absolute;
  top: 0;
  right: 0;
}


.modal_detail_header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}



.loading_spinner_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.loading_spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #e01a4f;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (max-width:800px) {
  .formularios_main{
    flex-direction: column;
    height: fit-content;
    width: fit-content;
  }
  .formularios_aside{
    height: fit-content;
    width: 100vw;
    padding: 20px 13px;
    font-size: 14px;
  }
  .formularios_content{
    height: fit-content;
    width: 100vw;
    box-sizing: border-box;
    padding: 20px;
    overflow-x: scroll;
  }
  .formularios_content-ttl{
    text-align: center;
  }


  .formulario-container{
    width: 75%;
    min-height: 70%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.294);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}